{% extends "base.html" %}
{% block title %}Analyze Document{% endblock %}

{% block content %} 
<form method='POST'>  
    <h3>Document Analysis</h3>
    <div align="center">
        <label for="file"></label>
        <input 
            type="file" 
            class="form-control form-control-file" 
            id="document" 
            name="document" 
            placeholder="Upload document"
        />
        <br/>
        <button type="submit" class="btn btn-primary">Analyze</button>
    </div>
</form>
{% endblock %}