name: Flask Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - name: Install dependencies
        uses: actions/checkout@v3
      - run: |
          python -m pip install --upgrade pip
          pip install -U pytest
          pip install -r requirements.txt
      
      - name: App Testing
        run: timeout 15 python3 main.py || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi
        
      - run: echo "Complete"
      
  build2:
    
    runs-on: ubuntu-latest
    
    steps:
      - run: curl localhost:5000/login
